*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background: #002f50;
  font-size: 62.5%;
  color: #ffffff;
  font-weight: 400;
  font-family: Open Sans;
  scroll-behavior: smooth;
}

body._locked {
  overflow-y: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 118rem; /* 1180px */
  margin: 0px auto;
  padding: 0px 2rem;
  box-sizing: content-box;
}

/* TEMPLATES */

.button {
  padding: 1rem 3rem;
  color: #ffffff;
  border: 0.2rem solid #35c4e8;
  border-radius: 3rem;
  box-shadow: 0 0 0.5rem #35c4e8;
  white-space: nowrap;
}

.title {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: 3rem;
    font-size: 5rem;
  }
}

/* HEADER */

.header {
  margin-top: 1.2rem;
  font-size: 1.5rem;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: 3.6rem;
}

.logo-mobile {
}

.logo-desktop {
  display: none;
}

.header__nav {
  display: none;
}

.header__list {
  display: flex;
}

.header__item {
}

.header__ending {
  display: flex;
}

.header__link {
}

.header__item:not(:last-child) {
  margin-right: 2rem;
}

.header__phone {
  margin-right: 3.6rem;
  font-weight: 700;
  white-space: nowrap;
}

.header__btn {
  display: none;
}

.header__menu-icon {
  margin-right: 2rem;
  position: relative;
}

.header__menu-icon span,
.header__menu-icon::before,
.header__menu-icon::after {
  left: 0;
  position: absolute;
  height: 15%;
  width: 2rem;
  transition: all 0.3s ease 0s;
  background-color: #ffffff;
  border-radius: 0.4rem;
}

.header__menu-icon::before,
.header__menu-icon::after {
  content: "";
}

.header__menu-icon::before {
  top: 0;
}

.header__menu-icon::after {
  bottom: 0;
}

.header__menu-icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

@media (min-width: 1200px) {
  .header__nav {
    display: block;
    height: 100%;
    margin-right: 4.7rem;
    overflow: hidden;
  }
}

@media (min-width: 960px) {
  .header {
    font-size: 2rem;
  }
}

@media (min-width: 480px) {
  .header {
    margin-top: 1.5rem;
  }

  .logo-desktop {
    display: block;
  }

  .logo-mobile {
    display: none;
  }

  .header__btn {
    display: block;
  }

  .header__menu-icon {
    display: none;
  }
}

/* PAGE-MAIN */

.page-main {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .page-main {
    font-size: 2rem;
  }
}

/* HERO */

.page-main__hero {
  padding-top: 8rem;
}

.hero__body {
  display: flex;
  flex-direction: column;
}

.hero__image {
  margin-bottom: 5rem;
  text-align: center;
}

.hero__image-mobile {
}

.hero__image-desktop {
  /* display: none; */
}

.hero__about {
  margin-bottom: 3rem;
  line-height: 133%;
  max-width: 35ch;
}

.hero__btn {
  margin-bottom: 9rem;
}

.hero__features {
}

.features-mobile {
  text-align: center;
  position: relative;
}

.features-mobile__row {
  display: flex;
  justify-content: space-around;
}

.features-mobile__row_top {
}

.features-mobile__row_top > .features-mobile__item:first-child {
  padding: 0rem 2rem 2rem 0rem;
}

.features-mobile__row_top > .features-mobile__item:last-child {
  padding: 0rem 0rem 2rem 2rem;
}

.features-mobile__row_bottom {
}

.features-mobile__row_bottom > .features-mobile__item:first-child {
  padding: 2rem 2rem 0rem 0rem;
}

.features-mobile__row_bottom > .features-mobile__item:last-child {
  padding: 2rem 0rem 0rem 2rem;
}

.features-mobile__item {
  flex: 0 1 50%;
  max-width: 15ch;
  font-weight: 700;
  line-height: 133%;
}

.features-mobile__item span {
  color: #35c4e8;
}

.features-mobile__border {
}

.features-mobile__border_vertical {
}

.features-mobile__border_vertical::before,
.features-mobile__border_vertical::after,
.features-mobile__border_horizontal::before,
.features-mobile__border_horizontal::after {
  position: absolute;
  content: "";
  background-color: #35c4e8;
  box-shadow: 0 0 0.5rem #35c4e8;
}

.features-mobile__border::before {
  top: 0;
  left: 50%;
  width: 0.2rem;
  height: 6rem;
}

.features-mobile__border_vertical::after {
  bottom: 0;
  left: 50%;
  width: 0.2rem;
  height: 6rem;
}

.features-mobile__border_horizontal::before {
  top: 50%;
  left: 0;
  width: 10rem;
  height: 0.2rem;
}

.features-mobile__border_horizontal::after {
  top: 50%;
  right: 0;
  width: 10rem;
  height: 0.2rem;
}

.features-desktop {
  display: none;
  justify-content: space-around;
}

.features-desktop__item {
  position: relative;
  text-align: center;
  max-width: 18ch;
  line-height: 135%;
}

.features-desktop__item span {
  color: #35c4e8;
  font-weight: 700;
  line-height: 120%;
}

@media (min-width: 1200px) {
  .features-desktop__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -5rem;
    height: 10rem;
    width: 0.2rem;
    background-color: #35c4e8;
    box-shadow: 0 0 0.5rem #35c4e8;
  }

  .features-mobile {
    display: none;
  }

  .features-desktop {
    display: flex;
  }
}

@media (min-width: 768px) {
  .page-main__hero {
    padding-top: 15rem;
  }

  /* .hero__image-desktop {
    display: block;
  }

  .hero__image-mobile {
    display: none;
  } */

  .hero__image {
    margin-bottom: 5rem;
    text-align: center;
  }

  .hero__about {
    margin-bottom: 4rem;
    max-width: 55ch;
  }

  .hero__btn {
    margin-bottom: 16rem;
  }

  .features-mobile__border_horizontal::before {
    top: 50%;
    left: 0;
    width: 15rem;
    height: 0.2rem;
  }

  .features-mobile__border_horizontal::after {
    top: 50%;
    right: 0;
    width: 15rem;
    height: 0.2rem;
  }
}

/* SERVICES */

.page-main__services {
  padding-top: 4rem;
}

.services {
}

.services__body {
}

.services__title {
}

.services__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services__item {
  padding: 2rem 9rem;
  box-sizing: border-box;
  min-width: 100%;
  background-color: #ffffff33;
  border-radius: 3rem;
}

.services__item:not(:last-child) {
  margin-bottom: 2rem;
}

.services__link {
  font-weight: 700;
}

@media (min-width: 960px) {
  .services__list {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "first second last"
      "third fourth last";
  }

  .services__item {
    padding: 3rem 4rem;
  }

  .services__item:not(:last-child) {
    margin-bottom: 0;
  }

  .item-first {
    grid-area: second;
  }

  .item-second {
    grid-area: first;
  }

  .item-third {
    grid-area: third;
  }

  .item-fourth {
    grid-area: fourth;
  }

  .item-last {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: last;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .page-main__services {
    padding-top: 12rem;
  }
}

/* CMS */

.page-main__cms {
  padding-top: 4rem;
}

.cms {
}

.cms__container {
}

.cms__body {
}

.cms__title {
  margin-bottom: 2rem;
}

.cms__list {
  margin-bottom: 2.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
}

.cms__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.cms__image {
  margin-bottom: 1rem;
  text-align: center;
  width: 50%;
}

.cms__image_desktop {
  display: none;
}

.cms__name {
}

.cms__notice {
  text-align: center;
}

.cms__notice p {
  line-height: 120%;
  margin-bottom: 3.2rem;
  padding: 1rem;
  background-color: #ffffff33;
  border-radius: 1rem;
}

.cms__button {
}

@media (min-width: 1200px) {
  .cms__content {
    display: flex;
    align-items: flex-start;
  }

  .cms__list {
    margin-right: 5.3rem;
  }

  .cms__item:not(:last-child) {
    margin-right: 8rem;
  }

  .cms__notice p {
    margin-bottom: 5.85rem;
  }
}

@media (min-width: 768px) {
  .page-main__cms {
    padding-top: 12rem;
  }

  .cms__title {
    margin-bottom: 3rem;
  }

  .cms__list {
    display: flex;
    justify-content: space-around;
  }

  .cms__image {
    min-width: 12rem;
    margin-bottom: 2rem;
  }

  .cms__notice p {
    padding: 2rem 2.7rem;
    text-align: center;
  }
}

/* PORTFOLIO */

.page-main__portfolio {
  padding-top: 5rem;
}

.portfolio {
}

.portfolio__container {
}

.portfolio__body {
}

.portfolio__title {
}

.portfolio__list {
  display: grid;
  place-items: center;
  text-align: center;
}

.list {
}

.list__work {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  border: 2px solid #35c4e8;
  border-radius: 1rem;
  max-width: 32rem;
}

.list__work:not(:last-child) {
  margin-bottom: 2rem;
}

.list__work_desktop {
  display: none;
}

.list__image {
  margin-bottom: 1rem;
  min-width: 32rem;
  max-height: 9rem;
  border-radius: 1rem;
}

.list__title {
  line-height: 133%;
}

.portfolio__btn {
  margin-top: 3rem;
  text-align: center;
}

@media (min-width: 1280px) {
  .portfolio__list {
    text-align: left;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "second first fourth"
      "second third fifth";
  }

  .list__work {
    padding: 3rem;
    position: relative;
    height: 19.5rem;
  }

  .work-first {
    grid-area: first;
  }

  .work-second {
    grid-area: second;
    height: 47.5rem;
  }

  .work-third {
    grid-area: third;
  }

  .work-fourth {
    grid-area: fourth;
  }

  .work-fifth {
    grid-area: fifth;
  }

  .list__image {
    max-height: none;
  }

  .list__title {
    position: absolute;
    left: 3rem;
    bottom: 3rem;
    max-width: 25ch;
    font-size: 20px;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .page-main__portfolio {
    padding-top: 12rem;
  }

  .portfolio__list {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .list__work {
    
    max-width: 32rem;
  }

  .list__work_desktop {
    display: flex;
  }

  .list__work:not(:last-child) {
    margin-bottom: 0;
  }

  .portfolio__btn {
    margin-top: 5rem;
  }
}

/* GROWTH */

.page-main__growth {
  padding-top: 5rem;
}

.growth {
}

.growth__container {
}

.growth__body {
}

.growth__title {
}

.growth__list {
  display: flex;
  flex-direction: column;
}

.growth__item {
  padding-left: 2rem;
  display: flex;
  position: relative;
  max-width: 23ch;
}

.growth__item:not(:last-child) {
  margin-bottom: 2rem;
}

.growth__item:nth-child(odd) {
  margin-left: 1rem;
  justify-content: flex-start;
}

.growth__item:nth-child(even) {
  align-self: flex-end;
}

.growth__item::before {
  position: absolute;
  /* text-shadow: 0px 0px 5px red; */
  /* box-shadow: 0 0 1rem #35c4e8; */
  filter: blur(1px) brightness(2);
  top: 50%;
  left: 0;
  content: "\2022";
  color: #35C4E8;
  font-weight: bold;
}

.growth__date {
  font-size: 1.7rem;
  font-weight: 700;
  color: #35C4E8;
}

.growth__highlight {
  font-weight: 700;
}